.container{
    display: flex;
    flex-direction: column;
}

.lineInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lineInfo button{
    align-self: flex-start;
}

.infos{
    flex-grow: 1;
    margin: 10px;
}

.info{
    border: 5px solid green;
    text-align: center;
}

.items{
    width:auto;
    overflow-x:scroll;
    display: flex;
}

.item{
    background: url("https://icon-library.com/images/person-icon-outline/person-icon-outline-5.jpg");
    background-size:cover;
    width: 30px;
    height: 30px;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 5%;
    text-align:justify;
}

.title{
    font-size: 15px;
    font-weight: bold;
    
}

.item:hover .title{
    color:green;
}

  .qrPopupContainer{
    visibility: visible;
    width: 60%;
  }

  .userPopupContainer {
    visibility: visible;
    width: 30%;
  }

.qrPopupImage{
  width: 60%;
  padding: 10px 0;
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 10vh;
    margin-bottom: -2%;
}

 
.buttonJoin {
    height: 35px;
    width: 90px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
  }