.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: #bbb;
}

a{
  text-decoration: none;
  color: inherit;
}

.button{
  padding: 5px;
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
}

.formContainer{
  text-align: center;
}

.form{
  display: block;
  width: 55%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid green;
}

.form input{
  margin: 5px;
  outline: none;
  border-radius: 3px;
}

.form input:focus{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 3px solid green;
}