.container{
    
}

.imgContainer{
    width:100%;
    height: 300px;
    position:relative;
}

.img{
    object-fit:cover;
}

.imgText{
    position:absolute;
    bottom: 10%;
    left: 35%;
    background-color: rgba(243, 243, 243, 0.774);
    padding:5px;
    color:rgb(29, 29, 29);
}


.textContainer{
    display:flex;
    gap:100px;
}

.item{
    flex:1;
    margin-top:50px;
    display:flex;
    flex-direction: column;
}

.desc{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}