.container{
    display: flex;
    flex-direction: column;
}

.lineInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lineInfo button{
    align-self: flex-start;
}

.infos{
    flex-grow: 1;
    margin: 10px;
}

.info{
    border: 5px solid green;
    text-align: center;
}

.items{
    width:auto;
    overflow-x:scroll;
    display: flex;
}

.item{
    background: url("https://icon-library.com/images/person-icon-outline/person-icon-outline-5.jpg");
    background-size:cover;
    width: 30px;
    height: 30px;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 5%;
    text-align:justify;
}

.title{
    font-size: 15px;
    font-weight: bold;
    
}

.item:hover .title{
    color:green;
}
  
  /* The actual popup */
.popupContainer {
  position: fixed;
  visibility: hidden;
  width: 60%;
  background-color: dimgray;
  text-align: center;
  bottom: 10%;
  left: 20%;
  padding: 10px 0;
  border-radius: 6px;
  }

.popupImage{
  width: 60%;
  padding: 10px 0;
}
  
.popupClose{
  /*
    margin-left: 85%;
    border: 2px solid darkgreen;
    border-radius: 50%;
    background-color: darkgreen;
    color: black;
    */
    width: 20px;
    margin: auto;
    cursor: pointer;
  }
  
  /* Toggle this class - hide and show the popup */
 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }