.container{
    display: flex;
    flex-direction: column;
}

.lineInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lineInfo button{
    align-self: flex-start;
}

.infos{
    flex-grow: 1;
    margin: 10px;
}

.info{
    border: 5px solid green;
    text-align: center;
}

.items{
    width:auto;
    overflow-x:scroll;
    display: flex;
}

.item{
    background: url("https://icon-library.com/images/person-icon-outline/person-icon-outline-5.jpg");
    background-size:cover;
    width: 30px;
    height: 30px;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 5%;
    text-align:justify;
}

.title{
    font-size: 15px;
    font-weight: bold;
    
}

.item:hover .title{
    color:green;
}

.popup {
    position: relative;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    position: absolute;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }