.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
    object-fit: contain;
}