.info {
    border-radius: 10px;
    border: 3px solid green;
    text-align: center;
    font-weight: 550;
    width: 100%; 
    margin: 10px 0; 
}

.items{
    width:auto;
    overflow-x:auto;
    display: flex;
}

.item{
    background: url("https://icon-library.com/images/person-icon-outline/person-icon-outline-5.jpg");
    background-size:cover;
    width: 30px;
    height: 30px;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 5%;
    text-align:justify;
}

.title{
    font-size: 15px;
    font-weight: bold;
    
}

.item:hover .title{
    color:green;
}

  .qrPopupContainer{
    visibility: visible;
    width: 60%;
  }

  .userPopupContainer {
    visibility: visible;
    width: 30%;
  }

.qrPopupImage{
  width: 60%;
  padding: 10px 0;
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 12vh;
    margin-bottom: -2%;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 100%; 
    margin: 0; 
    padding: 20px; 
}

 
.buttonJoin {
    height: 35px;
    width: 100px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
  }

  .buttonJoin2 {
    height: 35px;
    width: 200px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
  }

