.centeredTitle {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size-adjust: inherit;
  }

  .centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centeredDivs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22%;
  }

  .imag {
    height: 70px;
    width: 70px;
    padding:5px;
    margin-left:12%;
  }

  .cameraPopupContainer{
    width: 30%;
    height: 50%;
  }

  .placeholderCamera{
    width: 90%;
    height: 90%;
    border: 1px solid blanchedalmond;
    margin: auto;
  }
  
  