.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logo{
    width:20%;
}

.links{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.logout{
    padding: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.navIcon{
    margin-top : 3px;
}

.desktopOnly {
    display: none;
  }
  
  @media only screen and (max-width: 767px) {
    .desktopOnly {
      display: block;
    }
  }